# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies & web builds
node_modules
dist
dist-ssr
*.local

# Tauri & Rust build artifacts
/src-tauri/target
target

# Local databases & vault storage
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.enc
armoryvault_data

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
